*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    
}

header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7AA874;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
.navigation a{
    position: relative;
    top:10px;
    margin:20px;
    color: #fff;
    text-decoration: none;
}
.navigation a::after{
    content: '';
    width: 100%;
    height: 50px;
    top: -15;
    left: 0;
    background-color: #183A1D;
    position: absolute;
    opacity: 0.5;
    transform: scale(0);
    border-radius: 50%;
}

.navigation a:hover::after{
    transform: scale(1);
}

.logo{
    font-size: 2em;
    color: #fff;
}
.con1{
    width: 75%;
    margin-left: 220px;
    
    margin-top: 9%;
    padding: 20px;
    
    
}

h2{
    color: #20334a;
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    width: 100%;
}