<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <h2 class="logo">Trash Project</h2>
        <nav class="navigation">
            <a href="/home">หน้าแรก</a>
            <a href="/about">เกี่ยวกับเรา</a>
            <a href="#table">ราคา ซื้อขาย - ขายของเก่า</a>
            <a href="/new">ข่าวสารและกิจกรรม</a>
            <a href="/login">💂‍♀️💂‍♂️</a>
        </nav>
    </header>
    <div class="con1">
        <h2>เกี่ยวกับเรา</h2>
    
    <h3>Trash Project</h3>
    <br>
    <p>
        เราคือศูนย์
        <strong>"รับรีไซเคิล และรับซื้อ-ขาย"</strong>
        ด้วยเครื่องจักรย่อยอุตสาหกรรมที่ทันสมัย และบริการขาย เป็น One Stop Service
    </p>
    <p>
        ทางเรามีความเชี่ยวชาญและมีบุคลากรที่มีความชำนาญงาน และมีประสบการณ์ 
        คอยให้คำแนะนำและเป็นที่ ปรึกษาให้แก่หน่วยงานของลูกค้าทุกท่าน 
        ทั้งหน่วยงานราชการ โรงเรียน มหาวิทยาลัย บริษัท เอกชน ห้างร้าน ตลอดจน บุคคลทั่วไป ในด้านคุณภาพสิ่งแวดล้อม 
        ตลอดจนการให้ความรู้ในการรับซื้อ-ขาย 
        
    </p>
    <h1>
        <strong>
            "คิดถึงสิ่งแวดล้อม ..คิดถึงเรา"
            <br>
            "Think of Environment...Think of TrashProject"
        </strong>
    </h1>
    <br>
    <br>
    <p>
        <strong>
            รับประมูลของเก่าโรงงานอุตสาหกรรม, โรงงานขนาดเล็ก-ขนาดใหญ่, โรงแรม, โรงงาน SME, ร้านค้า และห้างร้านขนาดใหญ่ 
            เรามีทีมงานมืออาชีพ เชื่อถือได้ ไม่ทอดทิ้งลูกค้า รับงานแล้วเก็บกวาด 100% มั่นใจได้ ยินดีรับซื้อของเก่าทุกชนิด, รับซื้อเศษเหล็ก, รับซื้อเศษอลูมิเนียม, รับซื้อเศษสแตนเลส, รับซื้อเศษทองแดง, รับซื้อเศษทองเหลือง, รับซื้อเฟอร์นิเจอร์เก่าที่บ้านหรือที่ทำงาน, รับซื้ออุปกรณ์สำนักงาน, รับซื้อเฟอร์นิเจอร์มือสอง, รับซื้อขวดแก้วทุกชนิด, รับซื้อกระดาษเก่า, รับซื้อกล่อง/ลังกระดาษ, รับซื้อแอร์เก่าทุกชนิด-ทุกขนาด, รับซื้อเครื่องใช้ไฟฟ้าเก่า, รับซื้อเศษสายไฟเก่า, รับซื้อหม้อแปลงไฟฟ้า, รับซื้อเฟอร์นิเจอร์ไม้สักเก่า, รับซื้อคอมพิวเตอร์เก่า, รับซื้อโน๊ตบุ๊คเก่า, รับซื้อเครื่องจักรเก่าขนาดใหญ่ให้ราคาดี, และเรายังรับซื้อของเก่าในโรงแรม เช่น ผ้าเช็ดตัว, ผ้าปูที่นอน, หมอนเก่า, เฟอร์นิเจอร์, โคมไฟ, กาน้ำร้อน, ไดร์เป่าผม, โซฟา, เตียงนอน, ที่นอน และอื่น ๆ รับซื้อของเก่าทุกชนิดจำนวนมาก บริการรับซื้อถึงที่ จ่ายเงินสด ให้ราคาดี
        </strong>
        
    </p>
    <h2 style="text-align: center; color:black">
        <strong>
            "Target Users/ Target Market"
            <br>
            กลุ่มเป้าหมายของเราคือใคร หรือ ตลาดของเราเป็นกลุ่มไหน
        </strong>
    </h2>
    <strong>
        <span style="text-decoration: underline;">• ผู้ที่ต้องการรับซื้อสินค้า </span>
    </strong>
    <br>
    <br>
    <strong>Trash Project</strong>
    เรามีความเชี่ยวชาญและมีบุคลากรที่มีความชำนาญงาน และมีประสบการณ์ คอยให้คำแนะนำและเป็นที่ ปรึกษาให้แก่หน่วยงานของลูกค้าทุกท่าน 
    ทั้งหน่วยงานราชการ โรงเรียน มหาวิทยาลัย บริษัท เอกชน ห้างร้าน ตลอดจน บุคคลทั่วไป 
    ในด้านคุณภาพสิ่งแวดล้อม ตลอดจนการให้ความรู้ในการรับกำจัด 
    และจัดการวัสดุเหลือใช้จากการบรรจุภัณฑ์ การผลิต อย่างถูกวิธีตั้งแต่ต้นทาง
    <br>
    <br>
    <strong>
        <span style="text-decoration: underline;">• ผู้ที่ต้องการหาช่องทางรายได้เสริม</span>
    </strong>
    <br>
    <br>
    <strong>Trash Project</strong>
    เราคำนึงถึงผู้ที่ต้องการขายสินค้าหรือขยะ เพื่อรายได้เสริม เป็นอีกหนทางที่ทำให้เรามีรายได้เพิ่มขึ้น
    <br>
    <br>
    <strong>
        <span style="text-decoration: underline;">ผู้ที่ต้องการแยกขยะ เพื่อรายได้เสริม และต้องการอนุรักษ์สิ่งแวดล้อม</span>
    </strong>
    <br>
    <br>
    <strong>Trash Project</strong>
    เราคำนึงถึงสิ่งแวดล้อม การลดโลกร้อน  อย่างปลอดภัย 100% ร่วมถึงท่านลูกค้าทุกท่านยังคงมี 
    ส่วนร่วมในการช่วยลดโลกร้อนและร่วมกันรักษาสิ่งแวดล้อม โดยการนำมารีไซเคิล
    <br>
    <img class="img" src="../static/image/factory.jpg">
    
</div>
</body>
</html>