<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/new.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prompt&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
<body>
    <header>
        <h2 class="logo">Trash Project</h2>
        <nav class="navigation">
            <a href="/home">หน้าแรก</a>
            <a href="/about">เกี่ยวกับเรา</a>
            <a href="#table">ราคา ซื้อขาย - ขายของเก่า</a>
            <a href="/new">ข่าวสารและกิจกรรม</a>
            <a href="/login">💂‍♀️💂‍♂️</a>
        </nav>
    </header>
    <div class="con1">
        <h2>ข่าวสารเเละกิจกรรม</h2>
        <!-- <div class="row align-items-center">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-8">
              <h4>การจัดการขยะมูลฝอยตามแนวคิด 3Rs (ตอนที่1)</h4>
              <p class="text-secondary">Reduce (ลดการใช้) เป็นการปรับเปลี่ยนพฤติกรรมของตัวเราเองในการใช้สินค้าและการบริการต่างๆ โดยคำนึงถึงผลกระทบที่จะเกิดขึ้น เช่น ขยะที่จะเกิดขึ้น การใช้พลังงานในการผลิต</p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
          </div> -->
        <div class="box-con">
            <h4>การจัดการขยะมูลฝอยตามแนวคิด 3Rs (ตอนที่1)</h4>
            <p><img src="../static/image/Talking-Trash.jpg" alt="trash">
            <p class="text-secondary">
                Reduce (ลดการใช้) เป็นการปรับเปลี่ยนพฤติกรรมของตัวเราเองในการใช้สินค้าและการบริการต่างๆ โดยคำนึงถึงผลกระทบที่จะเกิดขึ้น เช่น ขยะที่จะเกิดขึ้น การใช้พลังงานในการผลิต
            </p>
            
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="box-con">
            <h4>งานบริการของ ศูนย์รับบริการย่อยทำลายเอกสารความลับฟรี</h4>
            <p><img src="../static/image/Talking-Trash.jpg" alt="trash">
            <p class="text-secondary">
                ศูนย์ย่อยทำลายเอกสารความลับสุดยอดฟรี The Top Secret Document Destruction Free วงษ์พาณิชย์ร่มเกล้า รีไซเคิล ..เปิดเป็นศูนย์ย่อยทำลายเอกสารความลับสุดยอดฟรี ตั้งแต่ ปี 2553
            </p>
            
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="box-con">
            <h4>การประหยัดน้ำจากแนวคิด 3Rs</h4>
            <p><img src="../static/image/Talking-Trash.jpg" alt="trash">
            <p class="text-secondary">
                3Rs คือ(Reduce,Reuse,Recycle) ที่เราสามารถนำหลักการของ 3Rsมาเป็นแนวคิดในการประหยัดน้ำได้
            </p>
            
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="box-con">
            <h4>3rs คืออะไร - หลักการณ์ของ 3rs</h4>
            <p><img src="../static/image/Talking-Trash.jpg" alt="trash">
            <p class="text-secondary">
                3rs คือ  Reduce,Reuse,Recycle  เราจะเริ่มต้นจาก R ตัวแรกก่อนนะค่ะ
            </p>
            
        </div>
        <div class="col-md-12">
            <hr>
        </div>
          
    </div>

</body>
</html>