<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2 class="logo">Trash Project</h2>
        <nav class="navigation">
            <a href="/home">หน้าแรก</a>
            <a href="/about">เกี่ยวกับเรา</a>
            <a href="#table">ราคา ซื้อขาย - ขายของเก่า</a>
            <a href="/new">ข่าวสารและกิจกรรม</a>
            <a href="/login">💂‍♀️💂‍♂️</a>
        </nav>
    </header>
    <div class="body1">
        <div class="box-login">
            <form action = "http://localhost:8081/addregister" method = "post">
                <h2 class="login-logo">Register</h2>
                <div class="input-form">
                    <span class="icon-login"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required class="email" name="email"/>
                    <label>Email</label>
                </div>
                <div class="input-form">
                    <span class="icon-login"
                    type="checkbox" onclick="myFunction()"
                    >
                        <ion-icon name="eye"></ion-icon>
                    </span>
                    <input type="password" required id="myInput" name="password"/>
                    <label>Password</label>
                </div>
                <div class="input-form">
                    <span class="icon-login"
                    type="checkbox" onclick="myFunction1()"
                    >
                        <ion-icon name="eye"></ion-icon>
                    </span>
                    <input type="password" required id="myInput1"/>
                    <label>ConfirmPassword</label>
                </div>
                <div class="btnlogin">
                    <button type="submit" 
                    value="submit">
                    Register</button>
                </div>
                <div class="textlogin">
                    <input type="checkbox" required/>
                    <span>Remember me </span>
                    <a href="#"> Forgot password?</a>
                </div>
                <div class="textlogin">
                    <span>You have a account </span>
                    <a href="/login"> Login</a>
                </div>
            </form>
        </div>
        
    </div>

    <script src="../static/scripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>